@font-face {
    font-family: 'Sohne';
    src: url('testsohne-kraftig-webfont.woff2') format('woff2'),
        url('testsohne-kraftig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCFavorit';
    src: url('ABCFavorit-Medium-Trial.woff2') format('woff2'),
        url('ABCFavorit-Medium-Trial.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'ABCFavorit';
    src: url('ABCFavorit-Bold-Trial.woff2') format('woff2'),
        url('ABCFavorit-Bold-Trial.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ABCFavorit';
    src: url('ABCFavorit-Regular-Trial.woff2') format('woff2'),
        url('ABCFavorit-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCFavorit';
    src: url('ABCFavorit-Book-Trial.woff2') format('woff2'),
        url('ABCFavorit-Book-Trial.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


:root {
    --font-heading-family: 'ABCFavorit';
    --font-body-family: 'ABCFavorit';
}

/* header */
.header {
    @apply flex justify-between;
}

.index .list-menu--inline .list-menu__item,
.index .header__icon--cart {
    @media screen and (min-width: 990px) {
        filter: invert();
    }

    @apply bg-white;
}

.list-menu--inline .list-menu__item,
.header__icon--cart {
    @apply px-6 py-[14px] rounded-full md:bg-[#F8F8F8] font-medium uppercase leading-none tracking-[0.6px];
    font-family: 'Sohne';

    span {
        @apply !no-underline;
    }
}

.header__icons {
    @apply items-center gap-6;
}

#HeaderMenu-shop span,
#HeaderMenu-about span {
    @apply h-[14px] leading-[15px];
}

body:not(.index) #HeaderMenu-shop {
    @apply bg-black;

    span {
        @apply text-white;
    }
}

.header {
    @apply relative;
}

body.page-about .header-wrapper {
    @apply max-md:bg-white;
}

.menu-drawer__menu-item:not(.mobile-footer_menu-item) {
    @apply !text-[44px] uppercase font-bold py-4 my-0;
    border-bottom: solid 1px #CCCCCC;
}

.menu-drawer__utility-links .localization-form__select>span {
    @apply text-[14px];
}

#HeaderDrawer-cart.menu-drawer__menu-item {
    @apply border-none;

    span {
        @apply opacity-50 text-black text-[22px] font-extralight uppercase leading-[69px];
    }
}

summary.header__icon--menu span {
    @apply absolute w-[44px] h-[44px] z-10;
}

/* cart page */

body.cart #main-cart-items {
      .cart-item > td + td {
        @apply md:pl-[16px];
      }
      .cart-item.cart-remove-button {
        @apply ml-0;
      }
  }

/* home page */
.index .banner--large {
    @apply !min-h-screen;

    .banner__heading {
        @apply uppercase text-[27px] text-justify sm:text-left;
        font-family: 'ABCFavorit';

        em {
            @apply !not-italic align-super text-[17px];
        }
    }
}

/* footer */

.footer {
    @apply !border-none;

    em {
        @apply !not-italic;
    }
}

.footer__newsletter .field label {
    @apply relative;
}

.footer__newsletter {

    .field:after,
    .select:after,
    .customer .field:after,
    .customer select:after,
    .localization-form__select:after {
        box-shadow: none !important;
        @apply rounded md:rounded-lg px-5 border !border-[#C2C2C2];
    }
}

.newsletter-form__message.newsletter-form__message--success.form__message {
    @apply tracking-[0.4px] text-[2.4rem];
}

.newsletter-form__button svg.icon.icon-arrow {
    @apply w-[24px] h-[24px] md:w-[48px] md:h-[48px]
}

.footer-block__heading {
    letter-spacing: -0.175px;
}

.footer .list-menu__item--link {
    @apply font-medium !pb-0 !text-[16px] leading-[27px];
}

.localization-selector::before,
.localization-selector::after {
    @apply !hidden;
}

.footer .footer__blocks-wrapper>.footer-block:nth-of-type(2) .localization-form {
    @apply hidden;
}

.footer .localization-form .disclosure__list-wrapper {
    right: 0;
}

.footer-block--newsletter {
    @apply md:pt-[30px];
}

/* general */

.tw-grid {
    @apply grid;
}

/* listing page */
body.product-page {
    @apply bg-[white];

    .product__tax {
        @apply mt-0 text-right !font-normal text-[#8E8E8E];
    }

    .product-grid {
        @apply flex-nowrap;
    }

    #shopify-section-template--22922809082172__related-products {
        @apply bg-[#f1f1f1];
    }

    .product-popup-modal__opener:not(.size-guide-opener) {
        @apply max-md:hidden;
    }
}

body.product-page:after {
    content: '';
    @apply md:bg-[#F1F1F1] h-full w-1/2 fixed top-0 left-0 bottom-0 z-[-1];
}

body.product-page sticky-header::after {
    @apply bg-white w-full h-1/2 absolute top-0 left-0 z-[-1];
}

.product-form__quantity {
    @apply hidden;
}

.product-media-container {
    @apply !bg-transparent !border-none;
}

#shopify-section-template--22922809082172__related-products .gradient {
    @apply !bg-transparent;
}

.swatch-input__input:active+.swatch-input__label,
.swatch-input__input:checked+.swatch-input__label,
.swatch-input__input+.swatch-input__label {
    @apply !rounded-xl;
}

.swatch {
    @apply h-24 !w-20 !rounded-xl !bg-[#F1F1F1] !bg-no-repeat !border-none;
    background-size: 90% !important;
}

.swatch-image.swatch-group-selector .star-set-image {
    @apply !h-[52px] !w-[42px] bg-contain bg-center border-none !bg-[#F1F1F1] rounded-md;
    background-size: 80%;
}

.swatch-view.swatch-view-image  {
    @apply max-md:mb-0;
}

.swatch-title-and-icon-container {
    @apply w-full;
}

@media screen and (min-width: 768px) {
    .swatch-image.swatch-group-selector .star-set-image {
        @apply !h-[100px] !w-[80px];
    }
}

.swatch-image.swatch-group-selector {
    @apply border-white !p-0;

}

.swatch-image.swatch-group-selector.swatch-selected {
    @apply !border !border-black !rounded-md;
}

.slider-mobile-gutter {
    @apply bg-[#F1F1F1];
}

.swatch-option-name {
    @apply font-medium md:mb-[3px] md:inline-block;
}

.swatch-option-name,
.swatch-variant-name {
    @apply !capitalize text-black text-[14px] md:text-[16px] tracking-[-0.16px];
}

.swatch-button-title-text {
    @apply text-[12px] md:text-[14px];
}

.swatch-variant-name:before {
    content: '-';
}

.swatch-split-symbol {
    @apply hidden;
}

.star-stock-align-inherit {
    @apply bg-white;

    p {
        @apply md:py-4 pb-4 max-md:px-6;
    }
}

.product-popup-modal__toggle {
    @apply !border-none !p-0 !w-[24px] !h-[24px];
}

.product__description,
.accordion__content {
    p {
        margin-bottom: 1em;
        color: black;
        @apply max-md:text-[18px];
    }

    ul {
        margin: 1em 0;
        padding-left: 1.5em;
        list-style-type: disc;
        @apply max-md:text-[18px];
    }

    li {
        margin: 0.5em 0;
        color: #333;
        @apply max-md:text-[18px];
    }
}

/* lightbox */
.product__media-icon.product__media-icon--lightbox {
    @apply absolute left-[14px] top-[12px];
}


.product-popup-modal__content {
    @apply max-md:w-full md:w-[50vw] max-md:pt-16 md:px-[44px] lg:px-6 !pt-[32px] md:!pt-[160px];

    p {
        margin: 1em 0;
        line-height: 1.6;
    }

    ul {
        margin: 1em 0;
        padding-left: 1.5em;
        list-style-type: disc;
    }

    li {
        margin: 0.5em 0;
        line-height: 1.5;
        color: #333;
    }
}

.product-popup-modal__content-info {
    @apply md:max-w-[502px] w-full;

    table {
        width: 100%;
    }
}

.product-popup-modal__toggle .icon {
    @apply !w-[24px] !h-[24px];
}

variant-swatch-king {
    @apply w-full max-md:rounded-[16px] mb-[2px] flex !my-0;

    .swatches,
    .swatch-single {
        @apply max-md:mb-[2px] max-md:mt-[0px] mb-6;
    }
}

.swatch-view.swatch-view-button {
    @apply grid grid-flow-col justify-stretch gap-[5px] !w-[initial] max-w-full mb-0;
    width: initial !important;
}

.swatch-view-item {
    @apply !w-[initial];
}

.swatch-view.swatch-view-button li {
    @apply !m-0 !rounded-full !w-full;

    .swatch-button,
    .swatch-button-title-text {
        @apply max-md:max-h-[40px] !h-[60px] flex justify-center items-center w-full !rounded-full;
    }
}

.swatch-view.swatch-view-button {
    @apply overflow-x-hidden !transform-none;
}

.swatch-item-unavailable {

    .swatch-button-title-text {
        @apply !text-[#C8C8C8] !bg-[#F5F5F5];
    }

    .swatch-button::before {
        transform: rotate(64deg) !important;
        @apply !border-[#C8C8C8] !h-[200px];
    }
}

.swatch-label.swatch-label-button {
    @apply text-black !text-[14px] tracking-[-0.16px];
}

/* logic for inventory for single variant products */

.one-variant {
    @apply max-md:rounded-t-[16px] pt-6;
}

@media screen and (min-width: 768px) {
    .swatch-label.swatch-label-button {
        @apply !text-[16px];
    }
}

.shopify-block.shopify-app-block:not(#shopify-block-swatch_king_product_swatch_block_FpxMKp) {
    @apply bg-white max-md:px-6;
}

/* out of stock button */
#bis_container, #thank-you-section {
    @apply !rounded-[20px] !w-full max-w-[564px] relative;
    @media screen and (min-width: 500px) {
        padding-bottom: 64px !important;
        padding-top: 64px !important;
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
    padding-bottom: 48px !important;
    padding-top: 48px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    hr {
        @apply hidden;
    }

    .modal-title.bis-modal-title, .bis-modal-title, .modal-title {
        @apply text-center text-black !text-[50px] font-medium !font-[ABCFavorit] leading-[49.60px] tracking-[-1.5px] text-balance;
    }

    #bis-cancel-request-btn-container {
        @apply hidden;
    }

    #bis_product_title, #thank-you-description, #request-message {
        @apply text-center !text-[17px] !tracking-[-0.17px] !font-[ABCFavorit];
    }
    #email-address {
        @apply mb-[20px];
    }
    #bis_product_title {
        @apply !mb-[31px];
    }
    /* close button */
    .bis_close_btn {
        @apply !absolute !top-[32px] !right-[32px];
    }
}

#bis_container, .bis-modal-title.modal-title {
    @apply !mb-[37px];
}

#thank-you-section .bis-modal-title.modal-title {
    @apply !mb-[16px];
}

#thank-you-section #thank-you-description {
    @apply !mb-[12px] inline-block;
}

#bis-close-btn-container {
    @apply !w-full;
}
.bis_ui_button,
#submit-btn__bis, #bis-close-btn-container #bis-close-btn {
    @apply rounded-full uppercase w-full !text-[16px] md:text-[18px] h-[60px] !font-[ABCFavorit] !tracking-[0.36px];
}

#shopeetech-bis-popup-form-name,
#shopeetech-bis-popup-form-email {
    @apply hover:bg-[#F8F8F8] !w-full text-black px-5 border rounded-[6px] !border-[#C2C2C2] text-[#8d8d8d] text-[17px] font-normal tracking-[-0.17px] !font-[ABCFavorit];
}

#bis-myModal .modal-title {
    @apply !mb-[12px];
}

.product__info-container {
    @apply !flex items-center justify-center flex-col justify-between;
}

.product__info-wrapper .swatches.swatches-type-products {
    @apply mb-0;

    div:nth-child(2) .swatch-single {
        @apply rounded-b-none mb-0;
    }
}

.product__info-wrapper .swatch-single {
    @apply bg-white max-md:rounded-[16px] max-md:p-6 max-md:mb-[2px];
}

.product__accordion svg {
    @apply !w-3 !h-3;
}

/* product gallery */

.product__modal-opener:hover .product__media-icon {
    @apply md:hidden;
}

.product-media-modal__dialog, .product-media-modal__content {
    @apply !bg-[#F1F1F1];
}
.global-media-settings.global-media-settings--no-shadow.active {
    @apply bg-[#F1F1F1] object-contain max-h-[100vh] border-none;
}

.product__modal-opener.product__modal-opener--image {
    @apply md:overflow-hidden;
}

/* cart page */
.quantity:after {
    @apply !rounded-full;
}

/* collection all */
.collection-hero__inner {
    @apply !hidden;
}

/* product tiles */
.card-wrapper.product-card-wrapper {
    @apply bg-[#EDEDED];

    .card__media {

        img {
            @apply p-8 md:p-12;
        }
    }

    .card__inner {
        @media screen and (min-width: 769px) {
            aspect-ratio: 239 / 340;
        }

        .media {
            img {
                @apply object-contain;
            }
        }
    }

    .card__content {
        @apply relative;
    }

    .card__content:not(.card__inner-content) .card__information {
        @apply !flex w-full justify-between px-4 md:px-[30px] uppercase md:items-center md:absolute bottom-0;

        a,
        span {
            @apply font-medium;
        }

        .card-information {
            @apply text-right w-auto text-[12px] md:text-[16px];

            .price {
                @apply mt-0;
            }
        }
    }
}

product-recommendations .card__content:not(.card__inner-content) .card__information {
    @apply max-md:bg-white px-0 md:px-12;

    @media screen and (max-width: 768px) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.card__information {

    a,
    .price,
    h5 {
        @apply text-[12px] md:text-[16px] text-balance;
    }
}

@media not all and (min-width: 768px) {
    product-recommendations .grid__item {
        width: 70% !important;
        max-width: initial !important;

        &:last-child {
            @apply mr-6;
        }
    }
}

.variant-swatch-king {
    @apply !bg-transparent;
}

/* cart drawer */
.drawer__close {
    @apply !flex items-center justify-center !relative !top-0;
}

.cart-item__totals.right {
    @apply !hidden;
}

.quantity:after {
    box-shadow: none !important;
}

.cart-drawer .cart-items td {
    @apply !pt-0;
}

.quantity__button svg {
    @apply w-[18px] h-[18px] md:w-6 md:h-6;
}

.quantity__input {
    @apply !w-[45px] !absolute top-0 bottom-0 left-0 right-0 m-auto;
}

.cart-item__quantity-wrapper {
    /* @apply max-md:gap-3; */
}

@media screen and (max-width: 768px) {
    .cart-drawer .cart-item__details {
        grid-column: 2 / 5 !important;
    }
}

/* about page */
body.page-about {
    --animation-order: 3;
    @apply bg-black text-[#CDFFA5];

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-[inherit];
    }

    #countup-timer,
    .countdown-timer {
        @apply flex mx-auto;
        max-width: 1110px;

        video {
            @apply pt-[32px] md:pt-[80px] max-md:absolute max-md:left-0 max-md:right-0 max-md:scale-125	;
        }
    }

    #formatted-time {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @apply w-full h-[200px] md:h-[400px];
    }

    h1 {
        @apply text-[50px] md:text-[100px] font-bold leading-[42px] md:leading-[90px] tracking-[-2.5px] md:tracking-[-5.5px];
    }

    .content-for-layout {
        @apply text-center mt-[50px] pb-[90px] md:pb-[135px];

        svg {
            @apply w-full mt-12 mb-4;
        }

        P {
            @apply text-[33px] tracking-[-1.65px] leading-[106.061%] md:leading-[97.143%] md:tracking-[-3.5px] md:text-[70px] font-bold max-w-[971px] mx-auto mt-[98px];
        }
    }

    .shopify-section-group-header-group .header__heading-logo-wrapper {
        @media screen and (min-width: 768px) {
            filter: brightness(0) saturate(100%) invert(92%) sepia(67%) saturate(393%) hue-rotate(35deg) brightness(107%) contrast(101%);
        }
    }

    .scrolled-past-header .header-wrapper {
        @apply md:bg-black;
    }

    .shopify-section-group-header-group #HeaderMenu-about {
        @apply bg-[#404040] text-white;

        span {
            @apply text-white;
        }
    }

    .shopify-section-group-header-group #HeaderMenu-shop {
        @apply bg-[#CDFFA5] !text-black;

        span {
            @apply text-black;
        }
    }

    .main-page-title.page-title {
        @apply hidden;
    }

    .shopify-section-group-header-group .header__icon {
        @apply md:bg-[#CDFFA5] rounded-full;
    }

    .page-width--narrow {
        @apply !max-w-[initial];
    }

}